$bg-purple: #6441a4;
$dark-purple: #381675;
$dark-gray: #111;
$x-gray: #aaa;
$light-gray: #f2f2f2;
$inset-shadow: inset 0 0 50px 5px #114;

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 20px 0;
  padding: 0;
  background-color: $bg-purple;
}

a {
  outline: none;
  text-decoration: none;
  
  &:hover, &:active, &:focus {
    text-decoration: none;
    outline: none;
  }

  &.user {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    color: $dark-gray;
    transition: color ease-in-out 0.2s;

    &:hover, &:active, &:focus {
      color: $bg-purple;
    }
  }

  &.x {
    color: $x-gray;
    transition: color ease-in-out 0.2s;

    &:hover, &:active, &:focus {
      color: $dark-purple;
    }
  }

} 

h4 {
  font-weight: bold;
  display: inline;
}

#caret-online.open, #caret-offline.open {
  transform: rotate(-90deg);
}

.wrapper {
  padding-top: 15px;
}

.title-image {
  padding: 30px 0;
  background-color: $bg-purple;
}

.logo {
  width: 100%;
  max-width: 176px;
  height: 108px;
}

.search-bar-container {
  padding: 20px;
  background-color: $dark-gray;
  border-radius: 10px 10px 0 0;
}

.form-control:focus {
  border-color: $bg-purple;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 208, 0.6);
}

.searchbar {
  width: 100%;
  #txt-search {
    color: $bg-purple;
  }
}

.panel-container {
  padding: 0;
  border-left: 10px solid $dark-gray;
  border-right: 10px solid $dark-gray;
}

.panel-default {
  margin: 0;
  border: 0;
  border-radius: 0;
  .panel-heading {
    padding: 10px;
    background-color: $dark-purple;
    border-radius: 0;
    outline: 0;
    color: white;
  }
  .panel-body {
    padding: 0 15px;
    background-color: $light-gray;
  }
}

.user-container {
  display: flex;
  width: 100%;
  margin: 0;
  padding-top: 10px;
}

.user-logo {
  flex: 1 1 75px;
  max-width: 75px;
  min-width: 50px;
  img {
    width: 100%;
  }
}

.user-text {
  flex: 1 1 400px;
  margin: 0 0 0 10px;
  p {
    padding: 0;
    margin: 0;
    line-height: 1.5;
  }
}

.user-status {
  font-style: italic;
}

.null-status {
  font-weight: bold;
  color: darkred;
}

.user-game {
  color: darkgreen;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-remove {
  flex: 1 1 30px;
  margin-top: -8px;
  font-size: 28px;
  text-align: right;
}

footer {
  margin: 0;
  padding: 0;
  border: 0;
  height: 10px;
  background-color: $dark-gray;
}

.btn-secondary {
  margin: 20px auto;
  display: block;
  outline: none;
}

.search-panel-container {
  display: none;
}

@media screen and (max-width: 767px){
  .panel-container {
    border: none;
  } 
}